<div class='supplier'>
    <h2><%= @supplier.name %></h2>

    <li><%= @supplier.address_1 %></li>
    <li><%= @supplier.address_2 %></li>
    <li><%= @supplier.city %></li>
    <li><%= @supplier.state %></li>
    <li><%= @supplier.phone_number %></li>
</div>
