<div class='supplier'>
    <h2><%= @supplier.name %></h2>

    <li><%= @supplier.address_1 %></li>
    <li><%= @supplier.address_2 %></li>
    <li><%= @supplier.city %></li>
    <li><%= @supplier.state %></li>
    <li><%= @supplier.phone_number %></li>
</div>

<a href="/suppliers/<%=@supplier.id%>/edit">
Edit Supplier
</a>

<br></br>

<%= link_to "Write a review", new_supplier_review_path(@supplier) %>
